<!-- Title -->
<div class="row">
  <div class="col-lg-6">
    <h2>{{page}}</h2>
  </div>
  <div class="col-lg-6">
    <ol class="breadcrumb" style='float:right;'>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class='active'>IAS</li>
    </ol>   
  </div>
</div>
<!-- Title Ends -->
<div class="row">
  <div class="col-lg-12">
    <h3 class="article-title">Connect Yourself to the Industry Professionals in Electrical and Electronic Engineering.</h3>
    <p class="sidebar-text">
      <img src='/images/50yearsbig.jpg' width='300m' style='float:left;'></img>
      If your engineering interests are the needs of the industrial or commercial sector, the Industry Applications Society (IAS) will be a valuable professional connection.  One of the largest special interest societies within the Institute of Electrical and Electronics Engineers (IEEE), the IAS focuses specifically on the unique needs of industry and commerce.  IAS is a source of professional power to its nearly 10,000 worldwide members.  Through a network of over 100 chapters globally, regional events and national and international  conferences, the society keeps members abreast of current developments in the area of technology in electricity and electronics.  IAS  enriches  both  its  individual  members  and  the  industry as a whole through the sharing of specific industry-related solutions.   
      <br>
      The scope of the Industry Applications Society, as a transnational organization, is the advancement of the theory and practice of electrical and electronic engineering in the development, design, manufacture and application of electrical systems, apparatus, devices and controls to the processes and equipment of industry and commerce; the promotion of safe, reliable and economic installations; industry leadership in energy conservation and environmental, health, and safety issues; the creation of voluntary engineering standards and recommended practices; and the professional development of its membership.
    </p>  
    <iframe class="embed-responsive-item" width="100%" height="480" src="https://www.youtube.com/embed/sl5yTPNO-Q4" frameborder="0" allowfullscreen></iframe>
    <h3 class="article-title">Three Reasons to Join Industrial Applications Society</h3>
    <h4>1. Informative Meetings, Seminars and Conferences.</h4>
    <p class="sidebar-text">
      Exchange information with the foremost industrial experts through personal participation in a local chapter meetings, seminars and regional, national and international conferences which can be accessed at Events and Conferences page.  The IAS has one of the largest special interest programs of any IEEE society, which include:
        <br>
        - IEEE IAS Annual Meeting<br>
        - Energy Conversion Congress and Exposition<br>
        - Applied Power Electronics Conference<br>
        - Cement Industry Conference<br>
        - Industrial Energy Efficiency Workshop<br>
        - Industrial and Commercial Power Systems Conference<br>
        - Petroleum and Chemical Industry Conference<br>
        - Pulp and Paper Industry Conference<br>
        - Rural Electric Power Industry Conference<br>
      The IEEE Industry Applications Society Annual Meeting, the Society's premiere conference has sessions from over our diverse technical committees which cover the complete spectrum of industry applications.  Our other conferences listed above are generally more specific to a particular field within the society scope.
      <br>
      Active IAS Members can be Found Virtually Anywhere Electricity or Electronics is Applied:
    </p>
    <h4>2. Valuable Professional Publications.</h4>
    <p class="sidebar-text">
      IEEE publishes journals, conferences, and standards in electrical, electronics, and all related technologies.  Also a membership benefit, through IEEE Xplore digital library, members can easily search over nearly two million IEEE documents, including otherwise difficult-to-find conference papers.  The IEEE Xplore digital library delivers instant access to high quality full text research papers including all graphics, individual online article purchase via credit card, free keyword searching, unlimited viewing of basic abstracts, a growing backfile with many publications back to 1950 and earlier, plus affordable subscription options such as IEEE Enterprise.
      <br>
      IAS strengthens the professional knowledge connection by sponsoring a range of books and periodicals within its technical specialty (<a href='www.ieee.org/ias/'>www.ieee.org/ias/</a> >>publications).  You may already be familiar with a few of the most notable: The IEEE Transactions on Industry Applications and the IEEE Industry Applications Magazine are the flagship publications of the Industry Applications Society.  This bimonthly publication to IAS members documents original contributions to real-world applications of electrical apparatus and systems in the field of interest of the committees as well as Society news.  The content of the Transactions and the Magazine are archived in IEEE XPlore, and one of the privileges of IAS members is unlimited access to IAS Transactions and Magazine areas in Xplore.  The Magazine is benefit of the membership and printed copies of the Transactions are available by optional subscription. The IAS is one of the principal contributors to IEEE Standards, and Working Groups are active throughout the Society. One noteworthy example of IAS work is the IEEE Color Books, renowned as a major resource for design of industrial and commercial power systems.
    </p>
    <h4>3.  A Chance to Advance Your Industry. </h4>
    <p class="sidebar-text">
      The opportunity to personally contribute to the betterment of your industry is a key IAS member benefit.  Committees within IAS play a central role in establishing over 25% of all IEEE industry standards.  Four technical departments, each serving a key segment of industry, bring professionals together to advance the interests of the field as a whole.  Through these activities, individual members gain the satisfaction of knowing their efforts will contribute to a more productive and safer industrial environment for the generations to come.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h3 class="article-title">IAS: Membership Options</h3>
    <p class="sidebar-text">
      Many engineering professionals are already eligible to be a part of the IAS, and may not even know it. Any current member of the IEEE is eligible to join IAS by applying and paying a nominal fee.  If your professional interests dovetail with IAS but not IEEE, it is possible to join as an Organization Affiliate with IAS (at a significantly reduced dues rate) without becoming an IEEE member.  An Organization Affiliate must be a member of a professional organization in a related scientific or technical field. Approved affiliate organizations include EPE, IEE, VDE, IEEJ, AEI,  ASChE, AIME, ASME, SME and ISA, to name just a few. Students are encouraged to participate in the Society at a significantly reduced dues rate. 
    </p>
  </div>
  <div class="col-lg-6">
    <h3 class="article-title">One Final Reason to Join</h3>
    <p class="sidebar-text">
      There is a stronger reason for being part of IAS, which doesn’t show up in the technical publications or on the days at conferences. 
      It comes from being an active part of a group of men and women, young and old, who are bound together by a common interest in industry. 
      Building a network of professional connections is a part of it, as is staying on the inside track on happenings in the field.  
      But most of all, the satisfaction comes from an opportunity to share your enthusiasm for your profession, 
      and to be re-energized by the enthusiasm of others.  
      It is this sense of mutual benefit that has made thousands of professionals from all over the world
      glad they completed the form in this brochure or in the web (<a href='www.ieee.org/join' target='_blank'>www.ieee.org/join</a>). Complete the form ...you’ll be glad you did too!
      <br>
      Membership in IAS will give you the opportunity to become acquainted and work with these experts.    
    </p>
  </div>
</div>