<!-- Title -->
<div class="row">
  <div class="col-lg-6">
    <h2>{{page}}</h2>
  </div>
  <div class="col-lg-6">
    <ol class="breadcrumb" style='float:right;'>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class='active'>Chapter</li>
    </ol>
  </div>
</div>
<!-- Title Ends -->
<div class="row">
  <div class="col-lg-12">
    <img width='100%' src='/images/ias-group-pic.jpg'></img>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <p class="sidebar-text" style="font-size: 1.3em;color:black;">
      IEEE Industry Application Society Chapter of MEA Engineering College was officially inaugurated by Dr. Blake Lloyd ( IEEE IAS President) in presence of Dr. Peter Magyar (IEEE IAS CMD Chair), Mr.SrikanthVasudevan (IEEE IAS Vice Chair, Kerala Section), Mr.Tajudheen (Principal, MEA Engineering College), Mr.Abdul Aziz (Manager, MEA Engineering College), Mr.Ajmal KT (Counselor, MEA IEEE Student Branch) on 21st November 2014. The program started with the code of ethics by Shalin (Secretary, MEA IEEE SB). Dr. Blake Lloyd (IAS President) handled the session on IEEE and Industrial Application Society. The session on IAS benefits was handled by Dr. Peter Magyar (IEEE IAS CMD Chair). Mr. Srikanth (IAS Vice Chair, Kerala Section ) had a session on the activities of IAS. There was also a nitration session where the students cleared their doubts. The program came to end by the vote of thanks by Mr.AjmalKT (Counselor, IEEE Student Branch).
    </p>
  </div>
</div>
