<!-- Title -->
<div class="row">
  <div class="col-lg-6">
    <h2>{{page}}</h2>
  </div>
  <div class="col-lg-6">
    <ol class="breadcrumb" style='float:right;'>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class='active'>Student Branch</li>
    </ol>
  </div>
</div>
<!-- Title Ends -->
<div class="row">
  <div class="col-lg-12">
    <img width='100%' src='/images/5thyear.jpg'></img>
    <p></p>
    <p class='sidebar-text' style="font-size: 1.3em;color:black;">
        IEEE pronounced “I-Triple-E” is the world’s largest professional association
        with its corporate office in New York. It was formed in 1963 from the
        amalgamation of Engineers. Today, IEEE have more than 4 million members and
        Student Branches in nearly seven thousand colleges and universities all around
        the world.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p class="sidebar-text" style="font-size: 1.3em;color:black;">
      MEA IEEE Student Branch was established in year 2011. From the time of
      establishment onwards the Student Branch has been actively organizing and
      participating events all around the Kerala Section. There are societies like
      Industrial Application Society and Computer Society under IEEE. And Affinity
      Group likes Women in Engineering that motivates girl students. MEA IEEE Student
      Branch have members from all the departments (CSE, IT, ECE, EEE, ME, CE).
      <br>
      MEA IEEE Student Branch has played a major role in molding the technical
      powers of the students with in the College. The student Branch hosted technical
      managerial and other intra College and inter College IEEE events.
      <br>
      The major achievements of the Student Branch in 2015 includes travel of
      three IEEE Members to Dallas, USA for attending IEEE IAS AGM, and also received
      Third Prize in International Web Contest conducted by IEEE.
      <br>
      Members of MEA IEEE hold positions in HUB and LINK ( Local Integrated Network
      of Kerala) Executive Committee.
    </p>
  </div>
</div>
