<!-- Title -->
<div class="row">
  <div class="col-lg-6">
    <h2>{{page}}</h2>
  </div>
  <div class="col-lg-6">
    <ol class="breadcrumb" style='float:right;'>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class='active'>Region 10</li>
    </ol>   
  </div>
</div>
<!-- Title Ends -->
<div class="row">
  <div class="col-lg-12">
    <img width='100%' src='/images/r10.jpg'></img>
    <h3 class="article-title">Asia Pacific Region</h3>
    <p class="sidebar-text">
      The IEEE Region 10, also sometimes referred as the Asia Pacific Region, comprises of 57 Sections, 6 Councils, 17 Sub-sections, 515 Chapters, 60 Affinity Groups and 958 Student Branches. It covers a geographical area stretching from South Korea and Japan in the north-east to New Zealand in the south, and Pakistan in the west. With a membership of 107,154, it is one of the largest regions in IEEE.
    </p>
    <h3><b>Mission Statement</b></h3>
    <p class="sidebar-text">
      In order to fulfill IEEE’s mission of advancing the theory and practice of electrical, electronics, communications and computer engineering, as well as computer science and related areas, Region 10 activities are directed to developing and maintaining regional entities for the best interests and benefits of the IEEE members in the region.
      To achieve that mission, the Regional activities include:
      <br>
      -To formulate goals and objectives for the Region<br>
      -To plan Regional operations, including budget preparation and approval<br>
      -To report officer, financial operation and meeting reports to the Regional Activities Department<br>
      -To plan and implement programs in support of the local organizational units in meeting the needs of the members of the Region<br>
      -To plan and implement programs for the volunteer structure of the Region, for example, develop and implement leadership training
       programs for volunteers and members to enhance their interpersonal skills, group skills and leadership abilities<br>
      -To provide leadership opportunities for interested members to take an active role within the operations of the Region.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3 class="article-title">IEEE Asia Pacific Operations Centre</h3>
    <p class="sidebar-text">
      The <b style='color:black;'>IEEE Asia Pacific Operations Centre (IEEE APO)</b> is an extension of the Member & Geographic Activities Department (formally known as Regional Activities Department) within the IEEE organization structure, and provides a valuable link between the IEEE headquarters in Piscataway and the Asia Pacific volunteers. Located in Singapore, we aim to keep the Asia Pacific region the most vibrant and active of the 10 geographical regions in the IEEE, by keeping the volunteers informed and their activities coordinated.
      <br>
      We serve as an information centre for members, customers and volunteers, bridging the 12 hour time difference between the headquarters in Piscataway, New Jersey on the East Coast of the United States and the Asia Pacific.
      <br>
      We are also the Communications Society (ComSoc) office for the Asia Pacific, and provide support to the ComSoc Asia Pacific Board and its committees in carrying out its activities.
    </p>
    <h4><a href='http://www.ewh.ieee.org/ieee/apo/Home/staff.html' target='_blank'>IEEE APO Office :</a></h4>
    <p class="sidebar-text">
      The office was registered in Singapore on 4th January 1994 as a branch representative office of The Institute of Electrical and Electronics Engineers, Inc. (IEEE). The branch office company registration no. : S94FC4660E. It was then called the IEEE Asia Pacific Customer Service Centre. Reporting to Member Services, its’ main purpose was to provide service to customers and members in the Asia Pacific.
      <br>
      In 1995, the IEEE Communications Society (ComSoc) engaged the office to provide extra support services to its members in the Asia Pacific region. Shortly with the re-organization of the Communications Society, the office was included into the Charter of the ComSoc Asia Pacific Board (APB) and its role expanded to provide support services to its’ Director and its’ committee activities.
      <br>
      With the technological advances in web applications in recent years, members, customers and volunteers are now empowered to purchase IEEE products and services, subscribe and access to their membership data and subscriptions online, find information and network with their peers. We continue to serve as the coordinating and information centre for the Asia Pacific.
    </p>
    <div style="width:2000px;max-width:100%;overflow:hidden;height:500px;color:red;"><div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=IEEE+Asia+Pacific+Operations+Centre+Singapore&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-maps-code" href="https://www.interserver-coupons.com" id="auth-map-data">InterserverCoupons</a><style>#embedded-map-display .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=51ccc2c2-7514-b028-0fca-1ad91dffd690&c=google-maps-code&u=1457276647" defer="defer" async="async"></script>
  </div>
</div>