<!-- Title -->
<div class="row">
  <div class="col-lg-6">
    <h2>{{page}}</h2>
  </div>
  <div class="col-lg-6">
    <ol class="breadcrumb" style='float:right;'>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class='active'>Chapter</li>
    </ol>   
  </div>
</div>
<!-- Title Ends -->
<div class="row">
  <div class="col-lg-12">
    <img width='100%' src='/images/ieee-header.jpg'></img>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <h3 class='article-title'>IEEE</h3>   
      <p class='sidebar-text'>
        The IEEE is the world’s largest professional association advancing innovation and technological excellence for the benefit of humanity. 
        IEEE and its members inspire a global community to innovate for a better tomorrow through its 
        highly-cited publications, conferences, technology standards, and professional and educational activities. 
        IEEE is the trusted “voice” for engineering, computing and technology information around the globe. 
        There are more than 430,000 IEEE members in more than 160 countries. 
        The IEEE publishes a third of the world’s technical literature in electrical engineering, 
        computer science and electronics and is a leading developer of international standards that underpin many of today's telecommunications, 
        information technology and power generation products and services.
      </p>
    </div>
    <div class="col-lg-6">
      <h3 class='article-title'>History</h3>
      <p class='sidebar-text'>
        IEEE, an association dedicated to advancing innovation and technological excellence for the benefit of humanity, is the world’s largest technical professional society. It is designed to serve professionals involved in all aspects of the electrical, electronic, and computing fields and related areas of science and technology that underlie modern civilization.
        <br>
        IEEE’s roots go back to 1884 when electricity began to become a major influence in society. There was one major established electrical industry, the telegraph, which since the 1840s had come to connect the world with a data communications system faster than the speed of transportation. The telephone and electric power and light industries had just gotten underway.
      </p>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <img class="img-responsive" src='/images/ieee-banner.png'></img>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <h3 class='article-title'>Meaning</h3>   
      <p class='sidebar-text'>
      IEEE, pronounced "Eye-triple-E," stands for the Institute of Electrical and Electronics Engineers. The association is chartered under this name and it is the full legal name.
      However, as the world's largest technical professional association, IEEE's membership has long been composed of engineers, scientists, and allied professionals. These include computer scientists, software developers, information technology professionals, physicists, medical doctors, and many others in addition to IEEE's electrical and electronics engineering core. For this reason the organization no longer goes by the full name, except on legal business documents, and is referred to simply as IEEE.
      </p>
    </div>
    <div class="col-lg-6">
      <h3 class='article-title'>Foundation</h3>
      <p class='sidebar-text'>
        In the spring of 1884, a small group of individuals in the electrical professions met in New York, USA. They formed a new organization to support professionals in their nascent field and to aid them in their efforts to apply innovation for the betterment of humanity—the American Institute of Electrical Engineers, or AIEE for short. That October, the AIEE held its first technical meeting in Philadelphia, PA, USA. Many early leaders, such as founding President Norvin Green of Western Union, came from telegraphy.  
     </p>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3 class="article-title">Growth and globalization</h3>
    <p class="sidebar-text">
      Over the decades that followed, the social roles of the technologies under IEEE’s aegis continued to spread across the world and reach into more and more areas of people's lives. The professional groups and technical boards of the predecessor institutions evolved into IEEE Societies. By the early 21st century, IEEE served its members and their interests with 39 Societies; 130 journals, transactions, and magazines; more than 300 conferences annually; and 900 active standards.
      <br>
      Since that time, computers evolved from massive mainframes to desktop appliances to portable devices, linked to global networks connected by copper wire, microwaves, satellites, or fiber optics. IEEE’s fields of interest expanded well beyond electrical and electronics engineering and computing into areas such as micro- and nanotechnologies, ultrasonics, bioengineering, robotics, electronic materials, and many others. Electronics became ubiquitous, integrated in everything from jet cockpits to industrial robots to medical imaging.
      <br>
      As technologies and the industries that developed them increasingly transcended national boundaries, IEEE has kept pace. It is now a global institution that uses the innovations of the practitioners it represents to enhance IEEE’s excellence in delivering products and services to members, industries, and the public at large. Publications and educational programs are delivered online, as are member services such as renewal and elections. By 2010, IEEE comprised over 395,000 members in 160 countries. Through its global network of geographical units, publications, web services, and conferences, IEEE remains the world's largest technical professional association.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <img src='/images/ieee-day.jpg' width='100%'></img>
  </div>
</div>