<!-- Title -->
<div class="row">
  <div class="col-lg-6">
    <h2>{{page}}</h2>
  </div>
  <div class="col-lg-6">
    <ol class="breadcrumb" style='float:right;'>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class='active'>MEA Engineering College</li>
    </ol>   
  </div>
</div>
<!-- Title Ends -->
<div class="row">
  <div class="col-lg-12">
    <img width='100%' src='/images/meaheader.png'></img>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <h3 class='article-title'>About the College</h3>   
      <p class='sidebar-text'>
        MEA Engineering College, the second self financing engineering college in Malappuram district, is committed to provide excellent and value-based education with a flair for ethics and professionalism. The College is located amidst panoramic natural beauty over-looking the hills and valleys at Nellikunnu, near Perinthalmanna, a city of various educational Institutions, situated on the Perinthalmanna-Melattur state highway. The College is easily accessible by road rail and air.
      </p>
    </div>
    <div class="col-lg-6">
      <h3 class='article-title'>Affiliation</h3>
      <p class='sidebar-text'>
        APJ Abdul Kalam Technological University (initially Kerala Technological University),a state government university has come into existence on May 21, 2014 with an aim to give leadership to the technology related policy formulation and engineering planning for the state. It also emphaziess to improve the academic standards of the graduate, post graduate and research programmes in engineering science, technology and management and regulate the academic standards of all colleges affiliated to the University. The main thrust areas of the University are Research,Development and Innovation.
     </p>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <img src='/images/meabatch.jpg' width='100%'></img>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <h3 class='article-title'>Aims & Objectives</h3>   
      <p class='sidebar-text'>
        The College Management has chosen this backward area to establish the College with the aim of sharing the responsibility of uplifting the people of the area by making   technical education affordable and within reach.
        <br>
        The Management has no motive of making profit from the College but aims at creating a Center of Excellence in Engineering and Technology.
      </p>
    </div>
    <div class="col-lg-6">
      <h3 class='article-title'>Vision & Mission</h3>
      <p class='sidebar-text'>
        To Provide top class education to the community by achieving excellence in engineering education and mold engineers  with competence, integrity and social commitment.
        <br>
        To provide the best faculty, excellent infrastructure and facilities for  curricular, extra curricular  activities and to encourage research and development by provide  excellent  academic ambiance for students and staff.     
      </p>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <div style="width:2000px;max-width:100%;overflow:hidden;height:500px;color:red;"><div id="display-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=MEA+Engineering+College,+Malappuram,+Kerala,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-code" href="https://www.hostingreviews.website" id="get-data-for-embed-map">godaddy vs bluehost</a><style>#display-google-map img{max-width:none!important;background:none!important;}</style></div><script src="https://www.hostingreviews.website/google-maps-authorization.js?id=6e465062-02d7-06e3-45f2-cd7ce9bdf287&c=google-code&u=1457759517" defer="defer" async="async"></script>
  </div>
</div>