<div class="row">
    <div class="col-lg-12">
        <h2><i class="fa fa-exclamation-triangle"></i> {{error.status}} {{message}}</h2>
        <p class="sidebar-text">
            <pre>{{error.stack}}</pre>
        </p>
    </div>
</div>