<!-- Title -->
<div class="row">
  <div class="col-lg-6">
    <h2>{{page}}</h2>
  </div>
  <div class="col-lg-6">
    <ol class="breadcrumb" style='float:right;'>
      <li><a href="/">Home</a></li>
      <li class='active'>Membership and Join</li>
    </ol>   
  </div>
</div>
<!-- Title Ends -->
<div class="row">
  <div class="col-lg-12">
    <img width='100%' src='/images/ieee-header.jpg'></img>
    <p></p>
    <p class="sidebar-text">
      When you join IEEE, you join a community of over 425,000 technology and engineering professionals united by a common desire to continuously learn, interact, collaborate, and innovate. IEEE membership provides you with the resources and opportunities you need to keep on top of changes in technology; get involved in standards development; network with other professionals in your local area or within a specific technical interest; mentor the next generation of engineers and technologists, and so much more.
    </p>
  </div>
</div>
<h2>Join IEEE IAS Chapter</h2>
<div class="row">
  <div class="col-lg-12">
    <img src='/images/50yearsbig.jpg' width='100%'></img>
    <p class="sidebar-text">
      The scope of the Industry Applications Society, as a transnational organization, is the advancement of the theory and practice of electrical and electronic engineering in the development, design, manufacture and application of electrical systems, apparatus, devices and controls to the processes and equipment of industry and commerce; the promotion of safe, reliable and economic installations; industry leadership in energy conservation and environmental, health, and safety issues; the creation of voluntary engineering standards and recommended practices; and the professional development of its membership.
    </p>
    <a href='https://www.ieee.org/membership-catalog/productdetail/showProductDetailPage.html?product=MEMIA034' target='_blank'>
      <button class="button">Click here to get IEEE IAS Chapter Membership</button>
    </a>
  </div>
</div>
<h2>Benefits</h2>
<div class="row">
    <div class="col-lg-6">
      <h3 class='article-title'>Resources</h3>   
      <p class='sidebar-text'>
        <b style='color:black'><u>Gain Expertise and Open Career Doors</u> :-</b>
        <br>
        IEEE houses an unrivaled network of professionals, experts, and advisors that can help shape your career, offer resources to acquire new skills, advance your professional development, and provide numerous opportunities for involvement, recognition, and reward.
        <br>
        <b style='color:black'><u>GainStay Current and Get Ahead</u> :-</b>
        <br>
        Membership grants you access to the largest library of electrical engineering, computer science, and electronics technical literature as well as the latest technology trends, industry news, and events.
        <br>
        <b style='color:black'><u>GainBuild a Network</u> :-</b>
        <br>
        Collaborate with IEEE colleagues and member groups, online or in person, to build a support group for your profession, industry, or project. 
      </p>
    </div>
    <div class="col-lg-6">
      <h3 class='article-title'>Discounts</h3>
      <p class='sidebar-text'>
        IEEE members can take advantage of exclusive and discounted pricing on insurance and a variety of products and services (where available) that can add up to substantial savings.
      </p>
      <h3 class='article-title'>Opportunities</h3>
      <p class='sidebar-text'>
        Expand your personal network with colleagues who share your expertise and commitment. Participate in your local IEEE Section or join IEEE Societies or affinity groups focused to your area of specialty or interest.
      </p>
    </div>
</div>
<h2>Membership Types</h2>
<div class="row">
    <div class="col-lg-6">
      <h3 class='article-title'>Professionals</h3>   
      <p class='sidebar-text'>
        Professional membership is open to individuals who by experience give evidence of competence in an IEEE designated field. The designated fields are: Engineering, Computer Sciences and Information Technology, Physical Sciences, Biological and Medical Sciences, Mathematics, Technical Communications, Education, Management, and Law and Policy. 
      </p>
      <a href='http://www.ieee.org/go/join_professional' target='_blank'>
        <button class="button">Join as a Professional</button>
      </a>
    </div>
    <div class="col-lg-6">
      <h3 class='article-title'>Students</h3>   
      <p class='sidebar-text'>
        A Student/Graduate Student member must carry at least 50% of a normal full-time academic program as a registered undergraduate or graduate student in a regular course of study in IEEE designated fields. The total cumulative period for a member to hold the Student member grade and/or the Graduate Student member grade is limited to eight years.
      </p>
      <a href='http://www.ieee.org/go/join_student' target='_blank'>
        <button class="button">Join As a Student</button>
      </a>
    </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <img class="img-responsive" src='/images/ieee-banner.png'></img>
  </div>
</div>